[Adblock Plus 2.0]
! Title: only-stackoverflow
! Description: Hide copy of stackoverflow from google and duckduckgo search results. (e.g. stackoverrun)
! Homepage: https://github.com/RyuaNerin/only-stackoverflow
! License: https://github.com/RyuaNerin/only-stackoverflow#license
! Expires: 1 days
! Version: {version}

google.com#?#div[role="main"] div#search div[data-async-context] div[data-ved]:-abp-contains(/{regex}/)
google.co.kr#?#div[role="main"] div#search div[data-async-context] div[data-ved]:-abp-contains(/{regex}/)
duckduckgo.com#?#div.result:-abp-contains(/{regex}/)
