[Adblock Plus 2.0]
! Title: only-stackoverflow
! Description: 구글 검색에서 스택오버플로 사이트 긁어다가 번역기 돌려놓은 이상한 사이트 숨기기
! Homepage: https://github.com/RyuaNerin/only-stackoverflow
! License: https://github.com/RyuaNerin/only-stackoverflow#license
! Expires: 4 days
! Version: {version}

google.com#?#div[role="main"] div#search div[data-async-context] div[data-ved]:contains(/{regex}/)
duckduckgo.com#?#div.result:contains(/{regex}/)
